$color-border: #D3D3D3;

.field__form {
    height: 10%;
    display: flex;
    border-top: 2px solid $color-border;
}

.field__input {
    border: none;
    border-radius: 0;
    padding-left: 5%;
    width: 80%;
    font-size: 1.2em;
    text-align: left;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.field__button {
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}