$color-text-input: #4b8aff;
$color-input: rgba(75,138,255,.1);

.rooms__form {
    margin-top: auto;
    height: auto!important;
    flex-direction: column;
    border: none!important;
}

.rooms__input {
    border: none;
    border-radius: 0;
    padding: 10px 0px;
    background-color: $color-input;
    color: $color-text-input;
    text-align: center;
}


input:focus{
    outline: none;
}

